@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  --slideback: hsl(25, 91%, 96%);
  --text: hsl(315, 97%, 13%);
  --para: hsl(30, 2%, 38%);
  --hands: hsl(174, 100%, 17%);
  --cate: hsl(320, 19%, 43%);
  --white: #fff;
  --good: hsl(174, 100%, 17%);
  --btn: hsl(23, 84%, 95%);
  --darkpink: hsl(30, 80%, 96%);
  --lightpink: hsl(42, 87%, 97%);
  --feedback: hsl(41, 87%, 85%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .1s linear;
}

body {
  font-family: 'Open Sans',
  sans-serif;
}

/* Navbar */
nav {
  background: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .3em;
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
}
.nav-inside ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-inside ul button {
  padding: 1em;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: .8px;
  color: var(--text);
  background: var(--feedback);
  border: 0;
  border-radius: 5px;
}
.nav-inside ul a {
  text-decoration: none;
  margin-left: 2em;
  color: var(--text);
  font-weight: 600;
}
.nav-inside ul a:hover {
  color: var(--para);
}
.nav-inside ul li{
  color: var(--text);
  font-size: 1.5rem;
}
.logo img {
  width: 70px;
  height: 70px;
  background: transparent;
  border-radius: 50%;
}

/* *******About******** */
.about {
  margin-top: 6em;
}
.about .header {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  background: var(--darkpink);
}

.about .header img {
  width: 50%;
}

.about .more-info {
  text-align: center;
}

.more-info h1 {
  font-size: 4.5rem;
  color: var(--text);
}

.more-info p {
  color: var(--para);
  line-height: 1.5;
  font-size: 1.5rem;
}

.quote {
  background: var(--good);
  color: var(--white);
  max-width: 1170px;
  width: 90%;
  margin: 8em auto;
  text-align: center;
  border-radius: 15px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote h1 {
  font-family: 'Lobster',
    cursive;
  font-size: 3.2rem;
  letter-spacing: 2px;
}

.our-beliefs {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

.our-beliefs h1 {
  font-family: 'Lobster',
  cursive;
  color: var(--text);
  font-size: 4rem;
}
.our-beliefs .beliefs {
  display: flex;
  justify-content: space-between;
  margin: 5em 0;
}
.our-beliefs .beliefs h2 {
  color: var(--text);
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: .4em;
}

.our-beliefs .beliefs p {
  color: var(--para);
  line-height: 1.5;
  font-size: 1.2rem;
  width: 600px;
}

.our-beliefs .beliefs img {
   width: 65px;
   height: 65px;
   color: var(--hands);
}

.our-story {
  width: 90%;
  max-width: 1100px;
  margin: 8em auto;
}
.our-story h1 {
  text-align: center;
  font-size: 4rem;
   font-family: 'Lobster',
   cursive;
   color: var(--text);
   margin-bottom: 1em;
}

.our-story p {
  line-height: 1.7;
  font-size: 1.6rem;
  color: var(--para);
  margin-bottom: 1em;
}


/* Main */

.banner {
  width: 100%;
  background-color: var(--slideback);
  height: 25em;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.banner h1 {
  color: var(--text);
  font-size: 10rem;
  font-family: 'Knewave', cursive;
  font-style: italic;
  clear: both;
  display: inline-block;
  white-space: nowrap;
  animation: ani 20s linear infinite;
}

@keyframes ani {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

main {
  margin-top: 6em;
}
.container img {
  margin-top: 5em;
  object-fit: cover;
  background-position: center;
  width: 250px;
  height: 350px;
  border-radius: 15px;
}
.filter {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-top: 6em;
}
.filter h3 {
  color: var(--cate);
  letter-spacing: 2px;
  font-size: 1.5rem;
}
.filter button {
  margin: 1em 0;
  color: var(--text);
  padding: .5em;
  border-radius: 20px;
  background: var(--btn);
  border: 1px solid var(--para);
  color: var(--text);
  cursor: pointer;
}
.filter button:hover {
  background: var(--cate);
  color: var(--lightpink);
}
.filter-product {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:hover {
    transform: translateY(-5px);
}

.container img:hover {
  opacity: 0;
  transition: .35s ease-in-out;
}

.first {
  position: absolute;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.products .name-price {
  display: flex;
  justify-content: space-between;
}
.name-price .name {
  color: var(--text);
  font-size: 1.3rem;
  font-weight: 600;
}
.name-price .price {
  font-size: 1.2rem;
  font-weight: 600;
}
.products .cate {
  letter-spacing: 1.5px;
  color: var(--cate);
  font-size: 1.15rem;
}

/* Review */
.info-reviews {
  margin-top: 5em;
  border-top: 1px solid rgb(221, 216, 216);
}
.num-sign {
  background: var(--darkpink);
  padding: 2em 1.5em;
}

.numbers {
  /* padding-top: 5em; */
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 95%;
  margin: 8em auto;
}
.num-review img {
  width: 65px;
  height: 65px;
  color: var(--hands);
}
.num-review h1 {
  color: var(--text);
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: .5em;
}
.num-review p {
  color: var(--para);
  font-size: 1.3rem;
  line-height: 1.5;
  width: 340px;
}

.info-reviews h2 {
  text-align: center;
  margin: 5em 0;
}

.signup {
  background: var(--good);
  color: var(--white);
  max-width: 1170px;
  width: 90%;
  margin: 8em auto;
  text-align: center;
  border-radius: 15px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup h1 {
  font-family: 'Lobster',
  cursive;
  font-size: 4.2rem;
  letter-spacing: 2px;
}

.signup p {
  line-height: 1.5;
  font-size: 1.6rem;
  width: 65%;
  margin: 1.5em 0;
}
.signup input {
  height: 47px;
  width: 350px;
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: .5em;
}
.signup button {
  font-weight: 700;
  letter-spacing: 2px;
  background: var(--btn);
  color: var(--text);
  border: 0;
  padding: 1.2em 2.2em;
  border-radius: 5px;
}

.signup span {
  margin-top: 1.5em;
}

.faq-que {
  background: var(--lightpink);
}

.faqs, .questions {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}
.faqs h1 {
  text-align: center;
   font-family: 'Lobster',cursive;
   font-size: 4.2rem;
   letter-spacing: 2px;
   color: var(--text);
}
.faqs p {
  text-align: center;
  color: var(--para);
  font-size: 1.2rem;
}


/* =======question reviews========= */
.questions .reviews{
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  border-top: 1px solid rgb(221, 216, 216);
}

.questions .reviews button{
  padding: .5em;
  border: 0;
  border-radius:5px;
  background: var(--feedback);
  color: var(--text);
  cursor: pointer;
}
.questions p {
  width: 600px;
  line-height: 1.5;
  font-size: 1.35rem;
  font-weight: 500;
  color: var(--para);
}
.reviews h3 {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: 600;
}

.push {
  /* awc */
}
/* ************Footer********** */
.footer-inside {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

.good img {
  width: 60px;
}
.good p {
  color: var(--para);
  font-size: 1.2rem;
  line-height: 1.5;
  word-spacing: 1.5px;
}

.good input {
  height: 47px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
  padding: .5em;
}

.good button {
  font-weight: 700;
  letter-spacing: 2px;
  background: var(--hands);
  color: var(--white);
  border: 0;
  padding: 1.2em 2.2em;
  border-radius: 5px;
}

.footer-inside .options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.options .garms, .useful, .social{
  display: flex;
  flex-direction: column;
}

.options .garms a, .useful a{
  text-decoration: none;
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3;
}

.options .garms a:hover,
.useful a:hover {
  color: var(--para);
}

.options .social {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}



@media (max-width: 1000px) {
   .banner {
     height: 10em;
   }
   .banner h1 {
     font-size: 5rem;
   }
  .filter-product {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .numbers {
    flex-wrap: wrap;
  }
}



/* ======Mobile======== */

@media (max-width: 600px) {
  .nav-inside .logo {
    padding: 0 8.5em;
  }
  .nav-inside ul {
    display: none;
  }
  .banner {
    height: 6em;
  }
  .banner h1 {
    font-size: 3rem;
  }
  .filter {
  flex-direction: row;
  align-items: center;
}
.filter button{
  margin-right: .5em;
}
.filter-product {
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
  grid-template-columns: 1fr;
}

.products {
  grid-template-columns: repeat(2, 1fr);
}

.products img {
  width: 130px;
  height: 230px;
}
.name-price .name,
.name-price .price,
.name-price .cate {
  font-size: .9rem;
}

.info-reviews {
  width: 95vw;
  max-width: 400px;
  margin: 0 auto;
}
.numbers {
  flex-direction: column;
}
.num-review {
  margin-bottom: 3em;
}
.num-review h1 {
  font-size: 1.8rem;
}
.num-review p {
  font-size: .9rem;
  width: 280px;
}
.signup h1 {
  font-size: 1.8rem;
}
.signup p {
  font-size: 1rem;
}
.signup input {
  height: 30px;
  width: 200px;
}
.signup button {
  padding: .5em;
  margin: 1em;
}
.faqs h1 {
  font-size: 1.8rem;
}
.faqs p {
  font-size: .9rem;
  margin-bottom: 3em;
}
.reviews h3 {
  font-size: 1.3rem;
}
.questions p {
  width: 280px;
  font-size: .95rem;
}
.footer-inside {
  grid-template-columns: 1fr;
}
.good input {
  width: 280px;
  height: 30px;
}
.good p {
  font-size: .9rem;
}

.good button{
  margin: 1em 0;
  padding: .5em;
  font-size: .9rem;
} 
.good span {
  font-size: .9rem;
}
.options {
  flex-direction: column;
}
}
